@import "tailwindcss";


body{
    background-color: #212121;
}


html.dark {
  background-color: #111;
  color: white;
}




:root{
  --bg:#0f0f10;
  --panel:#121213;
  --muted:#9aa0a6;
}

/* optional small scrollbar styling */
::-webkit-scrollbar { height: 10px; width: 10px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.06); border-radius: 999px; }
body {
  @apply bg-[color:var(--bg)] antialiased text-white;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


@keyframes fadeInSlow {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInSlow {
  animation: fadeInSlow 0.8s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.7s ease forwards;
}


/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}